<div class="container">
  <div class="text-center mb-4">
    <img src="assets/logo.png" alt="Logo" class="img-fluid" width="120">
  </div>

  <h2 class="text-center text-primary mb-3">Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()" class="login-form">
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input id="usuario" type="text" class="form-control" formControlName="usuario" placeholder="Ingresa tu usuario" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input id="password" type="password" class="form-control" formControlName="password" placeholder="Ingresa tu contraseña" required>
    </div>

    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
  </form>
</div>