<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow" style="max-width: 400px; width: 100%;">
      <div class="text-center mb-4">
        <img src="assets/logo.png" alt="Logo Pastelería" width="100">
        <h3 class="mt-2">Registro de Usuario</h3>
      </div>
  
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="form-group mb-3">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" formControlName="nombre" class="form-control" required>
        </div>
  
        <div class="form-group mb-3">
          <label for="identificacion">Identificación</label>
          <input type="text" id="identificacion" formControlName="identificacion" class="form-control" required>
        </div>
  
        <div class="form-group mb-3">
          <label for="usuario">Usuario</label>
          <input type="text" id="usuario" formControlName="usuario" class="form-control" required>
        </div>
  
        <div class="form-group mb-4">
          <label for="password">Contraseña</label>
          <input type="password" id="password" formControlName="password" class="form-control" required>
        </div>
  
        <button type="submit" class="btn btn-success w-100" [disabled]="registerForm.invalid">
          Registrarse
        </button>
      </form>
    </div>
  </div>